body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

h1 {
  text-align: center;
  color: #1f3c88;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

.form-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

input, select, button {
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input, select {
  flex: 1;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #1f3c88;
  color: white;
}

th, td {
  padding: 14px;
  border: 1px solid #ddd;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f8fafc;
}

tr:hover {
  background-color: #dbeafe;
} 

.delete-btn {
  background-color: #dc2626;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #b91c1c;
}

.task-counter {
    text-align: center;
    font-weight: bold;
    color: #1f3c88;
    margin-bottom: 20px;
}

.clear-btn {
  background-color: #ef4444;
}

.clear-btn:hover {
    background-color: #dc2626;
}

@media (max-width: 768px) {

  .container {
    width: 95%;
    padding: 20px;
  }
  .form-box { flex-direction: column;}

  input, select, button {
    width: 100%;
    box-sizing: border-box;
  }

  table { font-size: 14px; }

  th, td { padding: 10px; }

  h1 { font-size: 26px; }

  .subtitle { font-size: 14px; }
  
}